:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --border-color: #57a107;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--yellow-color);
}

.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .active {
  color: var(--green-color);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:active {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}
.navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

.landing {
  background-color: var(--dark-color);
  /* 72px nav hight | 100vh full window*/
  min-height: calc(100vh - 72px);
}

.main-title::after {
  position: absolute;
  content: "";
  background-color: var(--border-color);
  width: 120px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}

.works {
  background-color: var(--section-color);
}

.works ul li {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.works ul li.active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.works ul li:not(.active):hover {
  color: var(--red-color);
}

.works .box {
  overflow: hidden;
  position: relative;
}
.works .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 /76%);
  /* 1rem cuz deal with the padding */
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.3rem;
  /* 1rem cuz deal with the padding */
  transform: translateX(calc(-100% - 1rem));
}

.works .box:hover::before {
  transform: translateX(0);
}

.team {
  background-color: var(--section-color);
}

.team .container > h4 {
  color: var(--yellow-color);
}

.team .box h4 {
  background-color: var(--green-color);
}
.project {
  background-color: var(--dark-color);
}

.subscripe {
  background-color: var(--yellow-color);
}

.subscripe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}

.subscripe input[type="text"]:focus {
  outline: none;
}

.subscripe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}

.subscripe input::placeholder {
  color: white;
}

.footer {
  background-color: var(--dark-color);
}

.copyright > span {
  color: var(--green-color);
}
.footer .contact ul svg {
  width: 30px;
  height: 30px;
}
